*{
    font-family: inter, Helvetica, sans-serif;
    
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(36, 100%, 99%);
    
}

body{
    margin: 0 7.5rem;
    
}
main{
    display: grid;
    grid-row: 2fr 1fr;
}

div{
    margin: 0;
    padding: 0;
}

section{
    margin: 0;
    padding: 0;
}

article{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    list-style-type: none;
}
ul li{
    display: inline-block;
    margin:0.5rem 1rem;
    
}
li a{
    text-decoration: none;
    color: hsl(240, 100%, 5%);
}

li a:hover{
    cursor: pointer;
    color: hsl(5, 85%, 63%);
    
}
.row{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 1.5rem;
}

.column-two{
    background-color: hsl(240, 100%, 5%);
    margin: 0 ;
   
}



.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
    align-items: start;
    margin: 1.375rem 0;
    
    
}

button{
    margin-top: 1.375rem;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    background-color: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
}

h1{
    font-size:3rem ;
    margin: 0;
    padding: 0;
    
}

.main-content-text{
    font-size: 0.9375rem;
    padding: 0 ;
    margin: 0 ;
    max-width: 100%;
    
}

.bottom-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    margin: 0;
    padding: 0;
    
   
}

.lBottom{
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 1px solid green;
    margin: 0;
    padding: 0;
    
}
.content{
    text-align: left;
}
.content h4{
    font-size: 1.5rem;
    color: hsl(233, 8%, 79%);
}
h6{
    margin: 0;
    padding: 0;
}

h6 a{
    font-size: 1.0625rem;
    color:hsl(240, 100%, 5%);
}

p{
    color: hsl(236, 13%, 42%);
    font-size: 0.9375rem;
}